@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,400&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2rem;
    background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
    overflow-x: hidden;
}
h1{
    text-align: center;
}
ul{
    list-style: none;
}
.none{
    display: none;
}
/* Instruction and search */
.search-games, .instruction{
    display: block;
    width: 30%;
    margin: 0 auto;
    padding: 0.75rem 1rem;
    border-radius: 10px;
    border: 1px solid rgba(102, 102, 102, 0.5);
    font-family: inherit;
    font-size: 1rem;
}
.instruction{
    position: absolute;
    width: auto;
    margin: 0 2rem;
    letter-spacing: 1px;
    box-shadow: 0 2px 0 rgba(102, 102, 102, 0.5);
    cursor: pointer;
}
.instruction:hover{
    filter: brightness(0.8);
}
.instruction:active{
    transform: translateY(2px);
    box-shadow: 0 0 0 transparent;
}
.search-games:focus{
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Instruction page */
.instruction-page{
    background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100%;
    z-index: 5;
}
.instruction-page .game{
    max-width: 680px;
    margin: 3rem auto;
    height: 80vh;
    overflow-y: auto;
}
.instruction-page .instruction{
    margin-top: 6rem;
}
.instruction-page h3{
    font-style: italic;
    font-size: 1.2rem;
    border-bottom: 1px solid rgba(102, 102, 102, 0.5);
}
.instruction-page h4{
    margin: 2rem 0 -0.5rem;
    color: rgba(102, 102, 102, 0.8);
}
.instruction-page span{
    color: rgba(102, 102, 102, 0.8);
    font-weight: bold;
    font-size: 1.4rem;
}
.instruction-page span.red{
    color: rgb(199, 76, 76);
}
/* Tips */
.tips-container{
    text-align: center;
    position: fixed;
    top: 15%;
    right: 10%;
}
.tips-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.score-tip,.goal-tip{
    display: inline-block;
    background-color: #fff;
    padding: 1rem 2rem;
    margin: 0.25rem 0;
    border: 1px solid rgba(102, 102, 102, 0.5);
    border-radius: 10px;
    text-align: center;
}
.score-tip.calculating, .goal-tip.calculating{
    background-color: rgba(102, 102, 102, 0.5);
}
/* Loader */
.loader-container{
    display: flex;
    justify-content: center;
    min-height: 80vh;
    overflow: hidden;
}
.loader-container.none{
    display: none;
}
.loader, .loader:before, .loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    animation-fill-mode: both;
    animation: bblFadInOut 1.8s infinite ease-in-out;
  }
  .loader {
    color: #000;
    margin: auto;
    font-size: 7px;
    position: relative;
    text-indent: -9999em;
    transform: translateZ(0);
    animation-delay: -0.16s;
  }
  .loader:before,
  .loader:after {
    content: '';
    position: absolute;
    top: 0;
  }
  .loader:before {
    left: -3.5em;
    animation-delay: -0.32s;
  }
  .loader:after {
    left: 3.5em;
  }
  
  @keyframes bblFadInOut {
    0%, 80%, 100% { box-shadow: 0 2.5em 0 -1.3em }
    40% { box-shadow: 0 2.5em 0 0 }
  }
      
/* Games */
.games-container{
    max-width: 680px;
    margin: 3rem auto;
}
.game-container{
    display: grid;
    grid-template-columns: 1fr 9fr 1fr;
    column-gap: 1rem;
    align-items: center;
}
.status{
    font-size: 1rem;
}
.game{
    margin: 2rem 0;
    padding: 0.5rem 1rem;
    border: 1px solid rgba(102, 102, 102, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
    background-color: #fff;
}
.game .teams > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 0;
}
#league{
    display: block;
}
#league img{
    max-width: 1.2rem;
}
.teams small{
    font-size: 0.8rem;
    font-style: italic;
}
.game img{
    max-width: 2rem;
    margin-bottom: -5px;
}
.game button{
    padding: 0.5rem 1rem;
    margin: 1rem 0 0 1rem;
    font-family: inherit;
    font-size: 1.2rem;
    background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
    border: 0;
    border-radius: 10px;
    cursor: pointer;
}
.game button:hover{
    filter: brightness(0.9);
}
/* Legend */
.game.legend{
    max-width: 680px;
    margin: 3rem auto;
}
.legend h3{
 text-align: center;
}
.legend{
    font-size: 1rem;
}
/* Footer */
footer{
    padding: 3rem 1rem;
}
footer p{
    text-align: center;
    font-size: 1rem;
    margin: 0.5rem 1rem;
}
footer p a{
    color: inherit;
}
footer p a:hover{
    text-decoration: none;
    color: #3c1e69;
}

/* responsive design */

@media (max-width: 1220px){
    .tips-container{
        position: sticky;
        top: -10px;
        right: auto;
        background-color: #fff;
        border: 1px solid rgba(102, 102, 102, 0.5);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        border-radius: 1rem;
        max-width: 680px;
        margin: 3rem auto;
        padding:  0.5rem 1rem;
    }
    .tips-container h3{
        margin: 1rem 0 0;
        padding-bottom: 1rem;
    }
    .tips-flex{
        flex-direction: row;
        gap: 2rem;
    }
}

@media (max-width: 800px){
    .search-games, .instruction{
        width: 70%;
        max-width: 680px;
    }
    .instruction{
        width: auto;
        position: relative;
        margin: 2rem auto;
    }
}

@media (max-width: 500px){
    html{
        font-size: 14px;
    }
    .search-games{
        width: 100%;
    }
    .instruction-page .instruction{
        margin-top: 2rem;
    }
    .tips-container h3{
        margin: 0.5rem 0;
        padding: 0;
    }
    .loader-container{
        min-height: 30vh;
    }
    .score-tip, .goal-tip{
        padding: 0.5rem 1.75rem;
    }
    .game-container{
        grid-template-columns: 1fr 1fr;
    }
    .status{
        font-weight: bold;
    }
    .teams{
        grid-column: span 2;
    }
    .game button{
        grid-row: 1;
        grid-column: 2;
    }
    .legend ul{
        padding: 0;
    }
}